.ant-tabs {
  width: 938px;
  margin-left: auto;
  margin-right: auto;
}

.ant-tabs-nav-list {
  border-bottom: 1px solid rgb(240, 240, 240);
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border: none;
}

:where(.css-xu9wm8).ant-tabs-top > .ant-tabs-nav::before,
:where(.css-xu9wm8).ant-tabs-bottom > .ant-tabs-nav::before,
:where(.css-xu9wm8).ant-tabs-top > div > .ant-tabs-nav::before,
:where(.css-xu9wm8).ant-tabs-bottom > div > .ant-tabs-nav::before {
  border: none;
}
